<!DOCTYPE html>
<html lang="fr">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/bootstrap-4.3.1-dist/css/bootstrap.css">
<!--<script src="bootstrap-4.3.1-dist\css\bootstrap.min.js"></script>-->
<link rel="stylesheet" href="/static/style.css">
<title>Ogame Bot</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <b>
    <a class="navbar-brand" href="#">Start</a>
    <a class="navbar-brand" href="#">Stop</a>
    <a class="navbar-brand" href="#">Refresh</a>
    <nav class="navbar-text">
        {% if info[0] %}
            <div class="p-3 mb-2 bg-secondary text-white"><b>Connection</b></div>
        {% else %}
            <div class="p-3 mb-2 bg-danger text-white"><b>Connection</b></span>
        {% endif %}
    </nav>
    <nav class="navbar-text">
        {% if info[1] %}
            <div class="p-3 mb-2 bg-secondary text-white"><b>Lancement</b></div>
        {% else %}
            <div class="p-3 mb-2 bg-danger text-white"><b>Lancement</b></div>
        {% endif %}
    </nav>
    <a class="navbar-brand" href="#">Log</a>
    <a class="navbar-brand" href="#">Flottes info</a>
    <a class="btn btn-danger" href="#">Quitter</a>
    </b>
</nav>
<h4>niveau des recherches</h4>
<div class="card">
ffff
</div>

</body>
</html>