<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel = "icon" href = "/images/icon.jpg" type = "image/x-icon">
    <title>Ogame Bot</title>
</head>
<body>
   <nav class="nav nav-pills nav-pill font-weight-bold bg-info">
		<a class="nav-item nav-link" href="/databoard">Tableau de bord</a>
		<a class="nav-item nav-link" href="/rapports">Rapport</a>
		<a class="nav-item nav-link active" href="/flottes">Flottes info</a>
        <span class="navbar-text">Temps de reconnection: {{.time_con}}</span>
	</nav>
    <div class="card text-center border border-primary flottes d-flex flex-column align-items-center">
        <div class="card-header text-white"><h2>Nombre et infos des flottes en cours: {{len .flottes}}</h2></div>
        <div class="card-body">          
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{range .nbPages}}
                        <li class="page-item {{if eq $.Page .}}active{{end}}"><a class="page-link" href="/flottes?page={{.}}">
                        {{.}}</a></li>
                    {{end}}
                </ul>
            </nav>
        </div>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>{{if gt (len .flottes) 0}}
                    {{range $key, $val := index .flottes 0}}
                        <th scope="row">{{$key}}</th>
                    {{end}}
                {{end}}
            </tr>
        </thead>
        <tbody>
            {{range $ind, $value := .flottes}}              
                {{if and (le $ind $.lElem) (gt $ind $.fElem)}}
                <tr>
                    {{range $key, $val := $value}}
                        {{if eq (printf "%T" $val) "map[string]interface {}"}}		
                                <td>{{range $keys, $vals := $val}}
                                        {{if ne $vals 0}}
                                            <p><u>{{$keys}}</u>: {{$vals}}</p>
                                        {{end}}
                                    {{end}}
                                </td>
                        {{else}}
                            <td>{{.}}</td>
                        {{end}}
                    {{end}}
                </tr>
                {{end}}                      
            {{end}}
        </tbody>
    </table>
    </div>
</body>
</html>
