<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
	<link rel = "icon" href = "/images/icon.jpg" type = "image/x-icon"> 
    <title>Ogame Bot</title>
</head>
<body>
	<nav class="nav nav-pills nav-pill justify-content-between font-weight-bold bg-info navbar-expand-lg">
		<a class="navbar-brand nav-link active" href="/databoard">Tableau de bord</a>
		<a class="navbar-brand nav-link" href="/rapports">Rapport</a>
		<a class="navbar-brand nav-link" href="/flottes">Flottes info</a>	
		<span class="navbar-text text-lg-right">Temps de connexion: {{.time_con}}</span>
		<span class="navbar-text text-lg-right">{{.point}} points</span>
		<span class="navbar-text text-lg-right">Connecté en tant que {{.user}}</span>
		<a class="navbar-brand nav-link bg-danger" href="/quit">Quitter</a>
	</nav>
	<div class="card border border-primary d-flex justify-content-center databoard">
	<div class="card-title text-center text-white"><h4>niveau des recherches</h4></div>
	<div class="card-body">
		<table class="table table-ordered table-info text-center">
			<thead>
				<tr>
					{{range $k, $v := .researchs }}
							<th scope="col">{{$k}}</th>
					{{end}}
				</tr>
			</thead>
			<tbody>
				<tr>{{range $k, $v := .researchs }}
							<td scope="col">{{$v}}</td>
					{{end}}
				</tr>
				<tr><td><h5>Recherche en cours</h5> </td><td><b>{{.resInBuild}}:</b> {{.countResInBuild}} sec</td> </tr>
			</tbody>
		</table>
		<div class="card-header text-center text-white"><h4>Tableau général</h4></div>
		<table class="table table-ordered table-secondary">
			<thead>
				<th scope="col">Lune</th>
				<th scope="col">Installations</th>
			</thead>
			<tbody>
				{{ range $key, $val := .lunes}}
				<tr>
					<td>{{$val.Coordinate}}</td>
					<td>{{range $k, $v := index $.BuildLune $key}}
							{{if ne $v 0}}
								<p>{{$k}}: {{$v}}</p>
							{{end}}
						{{end}}
					</td>			
				</tr>
				{{end}}
			</tbody>
		</table>
		<table class="table table-ordered table-dark">
			<thead>				
			</thead>
			<tbody>
				<tr><th scope="row"><h4>Planète</h4></th>
					{{ range .planetes }}
						<td><b>{{.Name}}</b><p>{{.Coordinate}}</p>
						</td>								
					{{end}}
				</tr>
				<tr><th scope="row"><h4>Ressources</h4><p>Dispo - prod - <br />Capacité de stockage</p></th>
					{{range .resdetails}}
						<td>{{range $key, $val := .}}
								<p>{{$key}}:{{range $res, $v := $val}} - {{$v}}
								{{end}}
								</p>
							{{end}}							
						</td>
					{{end}}
				<tr><th scope="row"><h4>niveaux des <br />installations</h4></th>
					{{range $k, $v := .facilities }}				
					<td>{{range $key , $val := $v}}
						{{if ne $val 0}}
							<p>{{$key}}: {{$val}}</p>
						{{end}}
					{{end}}</td>
				{{end}}
				</tr>
				<tr><th scope="row"><h4>niveau des<br /> ressources</h4></th>
					{{range $k,$v := .res_build}}
					<td>{{range $key , $val := $v}}
						{{if ne $val 0}}
							<p>{{$key}}: {{$val}}</p>
						{{end}}
					{{end}}</td>
				{{end}}
				</tr> 
				<tr><th scope="row"><h4>Vaisseaux</h4></th>
					{{range $k ,$v := .ships}}
						<td>{{range $key , $val := $v}}
						{{if ne $val 0}}
							<p>{{$key}}: {{$val}}</p>
						{{end}}
					{{end}}</td>
				{{end}}
				</tr>
				<tr><th scope="row"><h4>Temps de <br />constructions<br />/recherches</h4></th>
					{{range $key, $val := .countInBuild}}						
						<td>{{index $.consInBuild $key}}: {{$val}} sec</td>
					{{end}}
				</tr>
				<tr><th scope="row">Productions en cours</h4></th>
					{{range $k, $v := .productions}}					
						<td><p>temps total: {{index $.countProductions $k}}</p>
						{{range $key, $val := .}}
								<p>{{if ge $key 0}}{{$key}}:{{end}} {{$val}}</p>
							{{end}}
						</td>
					{{end}}
				</tr>							
		</table>
	</div>
</body>
</html>
