	{{template "header" .}}
	<div class="card border border-primary d-flex justify-content-center databoard">
	<div class="card-title text-center text-white"><h4>niveau des recherches</h4></div>
	<div class="card-body">
		<table class="table table-ordered table-info text-center">
			<thead>
				<tr>
					{{range $k, $v := .researchs }}
							<th scope="col">{{$k}}</th>
					{{end}}
				</tr>
			</thead>
			<tbody>
				<tr>{{range $k, $v := .researchs }}
							<td scope="col">{{$v}}</td>
					{{end}}
				</tr>
			</tbody>
		</table>
		<div class="card-body bg-info"><b><u>Recherche en cours</u>: {{.resInBuild}}</b>
			<p><b>Temps de recherche:</b> {{.countResInBuild}} sec</p>
		</div>
		<div class="card-header text-center text-white"><h4>Tableau général</h4></div>
		<table class="table table-ordered table-secondary">
			<thead>
				<th scope="col">Lune</th>
				<th scope="col">Installations</th>
			</thead>
			<tbody>
				{{ range $key, $val := .Lunes}}
				<tr>
					<td>{{$val.Coordinate}}</td>
					<td>{{range $k, $v := index $.BuildLune $key}}
							{{if ne $v 0}}
								<p>{{$k}}: {{$v}}</p>
							{{end}}
						{{end}}
					</td>			
				</tr>
				{{end}}
			</tbody>
		</table>
		<table class="table table-ordered table-bordered bg-transparent text-white font-weight-bold">
			<thead>
				<th scope="col">Planetes</th>
				<th scope="col">Ressources</th>
				<th scope="col">Niveaux des ressources</th>
				<th scope="col">Niveaux des installations</th>
				<th scope="col">Construction en cours</th>
				<th scope="col">Vaisseaux</th>
				<th scope="col">Défenses</th>
				<th scope="col">Production de Vaisseaux/Défenses en cours</th>
			</thead>
			<tbody>
				{{range .planetinfos}}
					<tr>
						<td>
							<a href="#"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor">
								<path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
							</svg></a>				
							<h4><u>{{.Planetes.Name}}</u></h4>
							<p>{{.Planetes.Coordinate}}</p>
							<p> {{.Planetes.Fields.Built}}/
							{{.Planetes.Fields.Total}}</p>
						</td>
						<td>{{range $key, $val := .DetailsRessources}}
									<p><u>{{$key}}</u>: {{range $k,$v := $val}}{{$k}}: {{$v}} / {{end}}</p>
							{{end}}
						</td>
						<td>{{range $key, $val := .Res_build}}
								{{if ne $val 0}}
									<p>{{$key}}: {{$val}}</p>
								{{end}}
							{{end}}
						</td>
						<td>{{range $key, $val := .Facilities}}
								{{if ne $val 0}}
									<p>{{$key}}: {{$val}}</p>
								{{end}}
							{{end}}
						</td>
						<td>{{.ConsInBuild}} : {{.CountInBuild}}</td>	
						<td>{{range $key, $val := .Ships}}
								{{if ne $val 0}}
									<p>{{$key}} : {{$val}}</p>
								{{end}}
							{{end}}
						</td>
						<td>{{range $key, $val := .Defenses}}
								{{if ne $val 0}}
									<p>{{$key}} : {{$val}}</p>
								{{end}}
							{{end}}
						</td>
						<td><p>Temps de productions total: {{.CountProductions}}</p>
						{{range $key, $val := .Productions}}
								{{if ne $val 0}}
									<p>{{$key}} : {{$val}}</p>
								{{end}}
							{{end}}
						</td>						
					</tr>
				{{end}}
			</tbody>						
		</table>
	</div>
</body>
</html>
