{{template "header" .}}
<div class="card">
<form method="POST" action="/setparam" class="card-body d-flex flex-column justify-content-center">
    <input type="number" />
</form>
</div>
</body>
</html>