<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ogame Bot</title>
</head>
<body>
    <nav class="nav nav-pills nav-pill font-weight-bold">
		<a class="nav-item nav-link" href="/databoard">Tableau de bord</a>
		<a class="nav-item nav-link active" href="/rapports">Rapport</a>
		<a class="nav-item nav-link" href="/flottes">Flottes info</a>
	</nav>
<div class="card ogame">
    <div class="card-header text-center"><h4>Nombre et infos des rapport: {{ len .spy}}</h4></div>
    <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{range .nbPages}}
                        <li class="page-item {{if eq $.Page .}}active{{end}}"><a class="page-link" href="/rapports?page={{.}}">
                        {{.}}</a></li>
                    {{end}}
                </ul>
            </nav>
    <div class="card-body">
        <table class="table table-ordered table-dark text-center">
        <thead>
            <tr>
                <th scope="row">Coordonnées</th>
                <th scope="row">Ressources</th>
            </tr>
        </thead>
        <tbody>
            {{range $k,$v := .spy}}
                {{ if and . (and (le $.fElem $k) (ge $.lElem $k))}}
                <tr>
                    <td>{{range $key,$val := .Coordinate }}
                            {{$key}}: {{$val}} - 
                        {{end}}
                    </td>
                    <td>{{range $key,$val := .Resources }}
                            {{$key}}: {{$val}} -
                        {{end}}
                    </td>
                </tr>
                {{end}}
            {{end}}
        </tbody>
        </table>
    </div>
    </div>
</body>
</html>