<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/bootstrap-4.3.1-dist/css/bootstrap.css">
    <!--<script src="bootstrap-4.3.1-dist\css\bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="/css/style.css">
    <title>Ogame Bot</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <b>
    <nav class="navbar-text">
        <div class="p-3 mb-2 bg-secondary text-white"><b>Connection</b></div>
        <div class="p-3 mb-2 bg-danger text-white"><b>Connection</b></div>
    </nav>
    <a class="navbar-brand" href="#">Log</a>
    <a class="navbar-brand" href="/databoard">Tableau de bord</a>
    <a class="btn btn-danger" href="#">Quitter</a>
    </b>
</nav>
</body>
</html>